@model B2C2_.net_core_MVC.Models.Foto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Foto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FotoId" />
            <div class="form-group">
                <label asp-for="FotoLink" class="control-label"></label>
                <input asp-for="FotoLink" class="form-control" />
                <span asp-validation-for="FotoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoGeplaatstDoor" class="control-label"></label>
                <input asp-for="FotoGeplaatstDoor" class="form-control" />
                <span asp-validation-for="FotoGeplaatstDoor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

