@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
<h1>Wat zegt de wet eigenlijk over privé camera's?'</h1>

<p>U mag camera’s ophangen om uw eigen woning te beveiligen en uw eigendommen te beschermen. 
    Een woningbouwcorporatie mag ook gebruik maken van cameratoezicht om een woning of een flat te beveiligen. 
    Maar de corporatie moet dat dan wel met een bord of sticker kenbaar maken. Cameratoezicht moet stoppen bij de voordeur en de ramen. 
    Op de straat mag geen camera gericht staan.Dit is om de privacy van voorbijgangers te beschermen. 
    Op de website van de Autoriteit Persoonsgegevens staat meer</p>

<h2>Belangrijkste regel camera bij huis</h2>
<p>De belangrijkste regel is dat uw camera alleen uw eigen bezittingen mag filmen. U mag dus niet de eigendommen van anderen filmen, 
    zoals het huis of de tuin van uw buren. 
    Ook mag u in principe niet de openbare weg filmen, zoals de stoep of parkeerplaatsen.</p>

<h2>Uw eigen verantwoordelijkheid</h2>
<p>
    Het is uw eigen verantwoordelijkheid om de camera zo af te stellen dat die alleen uw bezittingen filmt.
    Laat u uw camera ophangen door een installatiebedrijf? Kijk dan met de installateur mee hoe die de camera instelt. 
    En geef aan dat u de camera privacyproof wilt instellen. Controleer zelf of uw camera daadwerkelijk alleen op uw eigendommen is gericht.
</p>
<h2>Uitzonderingen camera bij huis</h2>
<p>
    Soms kan het echt niet anders dan dat u een stukje van de openbare weg filmt. Bijvoorbeeld omdat uw voordeur direct grenst aan de openbare weg. In dat geval moet u ervoor zorgen dat u de privacy van voorbijgangers zo min mogelijk schendt.

    Alleen in zeer uitzonderlijke gevallen mag u een camera doelbewust richten op een gedeelte van het terrein van uw buren of de openbare ruimte.
</p>
</div>
